entrypoint = "server.js"
modules = ["web", "nodejs-20"]

[nix]
channel = "stable-24_11"
packages = ["static-web-server"]

[deployment]
publicDir = "/"
deploymentTarget = "static"

[workflows]
runButton = "Serve static"

[[workflows.workflow]]
name = "Serve static"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = """
npm install --silent && node server.js
"""
waitForPort = 80

[[ports]]
localPort = 80
externalPort = 80

[agent]
expertMode = true
